.container {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  border-radius: 1rem;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 300px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: aliceblue;
}
.sidebar .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 35px 15px 35px;
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}
.sidebar .button button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
}
.sidebar .history {
  position: absolute;
  top: 80px;
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border-radius: 0.5rem;
}
.sidebar .history .historyitems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.sidebar .history .historyitems li {
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: transparent;
  list-style: none;
  padding: 10px 30px 10px 30px;
}
.sidebar .made {
  font-weight: bold;
}
.container .chatBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 10px;
  border-radius: 1rem;
  /* box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: transparent; */
}
.container .chatBox .ABX {
  font-weight: bold;
  font-size: 2rem;
}
.container .chatBox .output {
  padding: 10px;
  width: 100%;
  height: 360px;
}
.container .chatBox .output .outputitems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}
.container .chatBox .output .outputitems .outputeachitem {
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  border-radius: 0.5rem;
}
.container .chatBox .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  border-radius: 1rem;
  gap: 5px;
  padding: 5px 10px 5px 20px;
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: transparent;
  cursor: pointer;
}
.container .chatBox .input input {
  width: 100%;
  padding: 5px;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}
.container .info {
  text-align: center;
  margin: 10px;
  color: rgb(0, 0, 0, 0.6);
}
#menusidebar {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  position: absolute;
  top: 45px;
  right: 85px;
  width: 200px;
  padding: 10px 30px 10px 30px;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: aliceblue;
}
#menusidebar #button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 35px 15px 35px;
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}
#menusidebar #button button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
}
#menusidebar #history {
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border-radius: 0.5rem;
}
#menusidebar #history #historyitems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
#menusidebar #history #historyitems li {
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: transparent;
  list-style: none;
  padding: 10px 30px 10px 30px;
}
#menusidebar #made {
  font-weight: bold;
}
.menu {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .container .sidebar {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    right: 20px;
  }
  #menusidebar {
    display: flex;
  }
}
