* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 20px 10px 75px 10px;
  margin: 0px 20px 20px 20px;
  position: relative;
  border-radius: 1rem;
}
.container .items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.container .items .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 10px;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}
.container .items .item .icons {
  position: absolute;
  right: 5px;
}
.container .items .item:hover {
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: aliceblue;
}
.container .button {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
}

.container .button button {
  padding: 10px 50px 10px 50px;
  border: none;
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: blue;
  color: whitesmoke;
  border-radius: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.container .button button:hover {
  color: blue;
  background-color: whitesmoke;
}
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0px 0 0 20px;
  padding: 10px 20px 5px 20px;
  cursor: pointer;
  font-weight: bold;
}
#container2 {
  padding: 20px 10px 15px 10px;
}
@media screen and (max-width: 950px) {
  .container {
    display: none;
  }
  .home {
    display: flex;
  }
  #container2 {
    display: block;
  }
}

@media screen and (min-width: 950px) {
  .container {
    display: block;
  }
  .home {
    display: none;
  }
  #container2 {
    display: none;
  }
}
