* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.header .combine {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.header .combine .logo img {
  width: 40px;
  height: 40px;
  border-radius: 0.3rem;
}
.header .combine .name {
  font-size: 2rem;
  font-weight: bold;
}
.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header .nav .link {
  text-decoration: none;
}
.header .sidesearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-radius: 12px;
}
.header .sidesearch .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: aliceblue;
}
.header .sidesearch .icons .sideIcons {
  cursor: pointer;
}
.header .sidesearch .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 170px;
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: aliceblue;
  border-radius: 14px;
  margin-left: 10px;
}
.header .sidesearch .search .icon {
  position: absolute;
  margin-left: -140px;
  color: blue;
}

.header .sidesearch .search input {
  padding: 5px 5px 5px 3px;
  margin-left: -6px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: aliceblue;
  text-align: center;
}
.profile img {
  width: 25px;
  height: 25px;
  border-radius: 1.5rem;
  cursor: pointer;
}
#profile {
  display: none;
}
.sideOptions .sideNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: aliceblue;
  width: 300px;
  padding: 10px 5px 10px 5px;
  position: absolute;
  margin-top: 20px;
  right: 0;
  margin-right: 20px;
  border-radius: 1rem;
  z-index: 1;
  z-index: 3;
}
.sideOptions .sideNav .sideNavCombine {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.sideOptions .sideNav .sideNavCombine:hover {
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: aliceblue;
}
.sideOptions .sideNav .sideNavCombine .link {
  text-decoration: none;
}
.sideOptions .sideNav .sideNavCombine .arrow {
  position: absolute;
  right: 25px;
  cursor: pointer;
}
.profileView {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 110px;
  gap: 1rem;
  border-radius: 1rem;
  z-index: 2;
}
.profileView .profileView2 .profileViewOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profileView .profileView2 .profileViewOptions .profileIcons {
  position: absolute;
  right: 15px;
}
.profileView .profileView2 {
  padding: 10px;
  margin-top: 5px;
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: aliceblue;
  border-radius: 1rem;
}
.profileView .profileView2 #logout {
  color: red;
}
.profileView .profileViewOptions {
  padding: 10px 40px 10px 20px;
  border-radius: 0.5rem;
}
.profileView .profileViewOptions:hover {
  box-shadow: 2px 2px 10px rgb(220, 229, 237), -2px -2px 10px rgb(220, 229, 237);
  background-color: aliceblue;
}
.theme {
  display: none;
}
@media screen and (min-width: 650px) and (max-width: 950px) {
  .header .nav {
    display: none;
  }
  .header .sidesearch {
    padding: 5px;
  }
  .header .menu {
    display: block;
    cursor: pointer;
  }
  .sideOptions .sideNav {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .header .nav {
    display: none;
  }
  .header .sidesearch .search {
    padding: 0;
    width: auto;
  }
  .header .sidesearch .icons {
    display: none;
  }
  .header .menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
  }
  .header .menu .menuClose {
    cursor: pointer;
  }
  .sideOptions .sideNav {
    width: 200px;
    gap: 5px;
  }
  .header .combine .name {
    font-size: 25px;
  }
  .header .combine .logo img {
    width: 35px;
    height: 30px;
  }
  .theme {
    display: block;
  }
}
@media screen and (min-width: 950px) {
  .header .menu {
    display: none;
  }
  .sideOptions .sideNav {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .header .menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
  }
  .sideOptions .sideNav {
    display: none;
  }
  .header .sidesearch .search {
    display: none;
  }
  .header .sidesearch .profile {
    display: none;
  }
  .sideOptions .sideNav {
    display: block;
  }

  #profile {
    display: block;
    position: absolute;
    right: 120px;
  }
}
@media screen and (max-width: 380px) {
  .logo {
    display: none;
  }
}
